/* Full-screen background */

  
  /* Container to center content */
  .login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  
  /* Styling for the login box */
  .login-box {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  /* Header */
  .login-box h4 {
    color: #00bcd4;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .login-title {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
  
  /* Form Styling */
  .login-form {
    width: 100%;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-label {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: 0.3s;
  }
  
  .input-field:focus {
    border-color: #00bcd4;
    background-color: #1a1818;
  }
  
  .input-field::placeholder {
    color: #aaa;
  }
  
  /* Button styling */
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #00bcd4;
    color: #090909;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .login-button:hover {
    background-color: #008c9e;
  }
  
  /* Link Styling */
  .register-link {
    margin-top: 20px;
    color: #333;
  }
  
  .register-link-text {
    color: #00bcd4;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link-text:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .login-box {
      padding: 20px;
    }
  
    .login-title {
      font-size: 24px;
    }
  
    .input-field {
      font-size: 14px;
    }
  
    .login-button {
      font-size: 14px;
    }
  }
  